<div class="container jumbotron mt-4">
  <h1 class="display-4">Made with NODE JS AND MONGODB</h1>
  <p class="lead">Register to the application so you can save all the notes you want.
It is the first version of the application</p>
<p class="lead">Enter my website to know more about me</p>
  <a href="https://aaroncode.net">AaronCode</a>
</div>