<div class="col">

  <div class="col-md-4  mx-auto rounded">
    <div class="card fondo_form rounded">
      <div class="card-header  text-center">
        Register Account
      </div>
      <div class="card-body">
        <form action="/users/singup" method="post">
          <div class="form-group">
            <input
              type="text"
              placeholder="Name..."
              name="name"
              class="form-control rounded"
              value="{{name}}"
              
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              placeholder="email..."
              name="email"
              class="form-control rounded"
              value="{{email}}"
            />

          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="password..."
              name="password" 
              class="form-control rounded"
            />

          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="Confirm password..."
              name="confirm_password"
              class="form-control rounded"
            />

          </div>
            <div class="form-group">  
                 <button type="submit" class="btn btn-primary btn-block rounded"> Register </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>